@import "tailwindcss";

:root {
  --background: #121212;
  --foreground: #EDEDEC;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #EDEDEC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

img {
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}